/lorapp_preregistro/nbproject/private/
/lorapp_alfa/nbproject/private/
lorapp_alfa/.idea/.name
lorapp_alfa/.idea/copyright/profiles_settings.xml
lorapp_alfa/.idea/encodings.xml
lorapp_alfa/.idea/lorapp_alfa.iml
lorapp_alfa/.idea/misc.xml
lorapp_alfa/.idea/modules.xml
lorapp_alfa/.idea/workspace.xml
