/*
* CSS para la lectura
*/

body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: verdana;
    font-size: 16px;
    color: #4A4A4A;
    vertical-align: baseline;
    background-color: #F6F6F6;
}
hr{
    color: #CACACA;
    margin-top: 1.5em;
    margin-bottom: 1.5em;    
}
.lecture{
    text-align: center;
    width: 46em;
    padding: 2em 2em;
    transition: all .5s;
}
.lecture_title{
    font-size: 1.75em;
    font-weight: bold;
}
.lecture_author{
    font-size: 1em;
    font-weight: regular;
}
.lecture_chapter{
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
}
.lecture_phrase{
    font-family: 'Merriweather';
    font-size: 1.25em;
    font-style: italic;
}
.lecture_container{
    font-family: 'Merriweather';
    font-size: 1.125em;
    font-weight: regular;
    letter-spacing: 0.01em;
    line-height: 1.7em;
    text-align: justify;
}
.lecture_images {
    border: 1px solid #D9D9D9; 
    max-height: 200px; 
    padding: 5px;   
}
.lecture_image_label{
    font-family: 'verdana' !important;
    font-size: 0.75em;
}
.lecture_expand {
    vertical-align: top; 
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
    margin: 5px; 
    padding: 5px; 
    cursor: pointer;
}
.left_menu{
    background-color: #414454;
    height: 100%;
    /*                width: 60px;*/
    margin: 30px;
}
.left_menu img{
    padding: 20px 10px;
    width: 40px;
    cursor: pointer;
}
.right_nav{
    height: 100%;
}
.right_nav img{
    margin-right: 30px;
    width: 6px;
}
.float_label{
    background-color: #000000; 
    border-radius: 4px;
    color: #FFFFFF; 
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

#highlight-button {
    background-color: #000000; 

    border-radius: 4px;
    color: #FFFFFF; 
    font-family: 'Nunito';
    /*                padding: 2px 10px;*/
    position:absolute;
    top:-9999px;
    left:-9999px;
    z-index:9999;
}
#highlight-button img {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    height: 20px;
    margin: 4px;
    cursor: pointer;
}

.float_note{
    background-color: #D9D9D9; 
    border-radius: 4px;
    color: #00000; 
    font-family: 'verdana';
    /*position: absolute;*/
    position: fixed;
    padding: 10px;
    top: 20px;
    left: 80px;
    /*                top:-9999px;
                    left:-9999px;*/
    z-index:9999;
    height: 270px;
    width: 600px;
}
#selected_text{
    height: 100px;
    overflow-y: auto;
    border: 1px;
    border-color: #CACACA;
    border-style: groove;
    /*width: 95%;*/
}
.highlight {
    background-color: #ACE6E3;
}
.night {
    background-color: #121319;
    color: #DDDDDD;
    font-weight: 300;
    transition: all .5s;
}
.notes{
    padding: 30px;
    width: 80%; 
    height: 80%; 
    /*    overflow-y: auto; */
    background-color: #F6F6F6; 
    position: fixed; 
    top: 20px; 
    left: 80px; 
    border: 0px solid #000; 
    border-radius: 8px;
    box-shadow: 0 0 60px #000;
    -webkit-box-shadow: 0 0 60px #000;
    -ms-box-shadow: 0 0 60px #000;
    -moz-box-shadow: 0 0 60px #000;
    -o-box-shadow: 0 0 60px #000;
}

.notes img {
    display: inline;
    position:absolute;
    top:20px;
    right:20px;
    cursor: pointer;
}

.notes_title{
    font-family: 'Nunito'; 
    font-size: 1.5em;
    max-height: 200px;
}

.notes_title_nota{
    font-family: 'verdana'; 
    font-size: 1.025em;
    font-weight: bold;
}

.notes_title_nota_txt{
    font-family: 'verdana'; 
    font-size: 1.025em;
}

.note_option {
    color: rgb(52, 195, 195);
    font-size: 1em;
    font-family: verdana;    
    margin-bottom: 20px;
}

.note_option span {
    margin: 0.5em;
    cursor: pointer;
}

.notes_fromtext{
    font-style: italic;
}

.notes_fromtext:hover{
    background-color: #ACE6E3;
}

.notes_container {
    font-family: 'Merriweather';
    font-size: 1.125em;
    text-align: justify;
    /*height: 100px;*/
    overflow: hidden;
}

.notes_expandable {
    /*    padding-top: 10px;
        overflow: hidden;
        overflow-y: auto;
        -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s;*/
}

#button-night {
    position: fixed;
    right: 1%;
    top: 70px;
}
#button-fullscreen {
    position: fixed;
    right: 1%;
    top: 30px;
}

