*:focus {
    outline: 0; /*Hide outline on focus*/
}
::selection {
	color: #FFFFFF;
	background: #04C4BB; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: #FFFFFF;
	background: #04C4BB; /* Gecko Browsers */
}
html {
	height: 100%;
	width: 100%;
}
body {
	background: #F6F6F6;
	color: #4A4A4A;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	height: 100%;
	margin: auto;
	overflow-x: hidden;
	width: 100%;
}
div {
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}


.bodyWrapper {
	display: inline-block;
	/*height: 100%;*/
	margin-left: 15px;
	width: 41em; /*reading width*/
}
.mainWrapper {
	height: 100%;
	overflow: scroll;
	text-align: center;
	width: 100%;
}

/*sideMenu*/
.sideMenu {
	height: 100%;
	left: 0px;
	opacity: .2;
	padding: 0 50px 0 15px;
	position: fixed;
	top: 0;
	transition: all .2s;
	width: 60px;
	z-index: 100;
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.sideMenu:hover {
	opacity: .5;
}
.sideMenu-icon {
	border: 1px solid #F6F6F6; /*same color as body background*/
	border-radius: 50%;
	display: block;
	opacity: .6;
	padding: 10px 14px 5px; 
	margin: 15px 0;
}
.sideMenu-icon:hover {
	background-color: #FFF;
	border: 1px solid #BBB;
	opacity: 1;
	transition: all .4s;
}





/*Reading titles properties*/
.titleWrapper {
	border-bottom: 1px solid #CACACA;
	font-family: 'Lato';
	padding: 1em;
	cursor: default;
	margin: 1.3em 0em 0;
}
.readingTitle,
.readingAuthor {
	text-align: center;
}
.readingTitle:first-letter,
.readingAuthor:first-letter {
	text-transform: capitalize;
}
.readingTitle {
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.3em;
	margin: .4em 0 .45em;
}
.readingAuthor {
	color: #AAA;
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0 0 1em;
}
.chapterTitle {
	font-family: 'Lato';
	font-size: 1.4em;
	font-weight: bold;
	margin: 1em 0;
	-webkit-font-smoothing: antialiased; /*text smoothing*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /*text smoothing*/
}




/*Body text properties*/
.bodyText {
	text-align: left;
	padding: 1em 0em 2em;
}
/*.bodyText p:first-letter {
	text-transform: capitalize; Hay un bug en Webkit que impide seleccionar la primera letra del texto. Ver https://bugs.webkit.org/show_bug.cgi?id=6185
}*/
.bodyText p {
	letter-spacing: 0.01em;
	line-height: 1.9em;
	padding: .5em 0;
	text-indent: 1em;
}
.bodyText figure {
	margin: 0;
	padding: 1.5em 0;
	text-align: center;
}
.bodyText figcaption {
	font-size: 0.8em;
	font-style: italic;
	padding: 1em 0 0;
}
.bodyText img {
	border: 1px solid #D9D9D9;
	display: block;
	margin: auto;
	max-height: 200px;
	padding: 5px;
}
.quote {
	font-size: 1.1em;
	font-style: italic;
	text-align: center;
	padding: .5em;
	-webkit-font-smoothing: antialiased; /*text smoothing*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /*text smoothing*/
}
.bodyText span,
.bodyText .highlighted {
	background: #ACE6E3;
}




/*Botones sección anterior/siguiente*/
.btn-prev-chapter-container {
	margin: .5em 0;
}
.btn-next-chapter-container {
	margin-bottom: 4em;
}
.btn-prev-chapter-container {
	text-align: left;
}
.btn-next-chapter-container {
	text-align: right;
}
.btn-prev-chapter,
.btn-next-chapter {
	border: 1px solid #888;
	color: #888;
	display: inline-block;
	font-family: 'Lato';
	font-size: .9em;
	overflow: hidden;
	max-width: 30em;
	text-decoration: none;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-prev-chapter {
	padding: 1em 1.5em 1em 1.2em;
}
.btn-next-chapter {
	padding: 1em 1.2em 1em 1.5em;
}
.btn-prev-chapter::before {
	content: "\2190\00a0";
}
.btn-next-chapter::after {
	content: "\00a0\2192";
}
.btn-prev-chapter:hover,
.btn-next-chapter:hover {
	border: 1px solid #4A4A4A;
	background-color: #4A4A4A;
	color: #F6F6F6;
}





/* Apuntes */
.notesMainWrapper {
	background: #F6F6F6;
	height: 100%;
	left: 100%;
	overflow: scroll;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
.notesMainWrapper .chapterTitle:first-child {
	margin: 1em 0;
}
.notesMainWrapper .chapterTitle {
	margin: 3em 0 1em;
}
.notesMainWrapper .bodyText p {
	font-family: 'Lato';
	line-height: 1.5em;
}
.notesMainWrapper .bodyText .notesHighlight {
	padding: .5em 15px .5em 30px;
}
.notesMainWrapper .bodyText .notesNote {
	padding: .8em 15px .8em 30px;
}
.notesPageWrapper {
	background: #FFF;
	box-shadow: 0px 0px 10px #CCC;
	margin: 2em auto 4em;
	width: 49em; 
}
.notesMainWrapper .bodyText {
	margin-bottom: 3em;
}
.notesHighlight {
	background: rgba(4,196,187,.04);
	border: 1px solid rgba(4,196,187,.1);
	border-left: 4px solid rgba(4,196,187,.1);
	color: #00918B;
	-webkit-font-smoothing: antialiased; /*text smoothing*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /*text smoothing*/
}
.notesNote {
	border-right: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	border-left: 4px solid rgba(0,0,0,.05);
	color: #555;
	font-size: 0.9em;
}
.notesGroup {
	margin: 0 0 .8em 0em;
	position: relative;
}
.notesGroup:hover > .notesHighlight {
	background: inherit;
	border-top: 1px solid #F5F5F5; /*same color as .notesGroup:hover background*/
	border-right: 1px solid #F5F5F5; /*same color as .notesGroup:hover background*/
	border-bottom: 1px solid #F5F5F5; /*same color as .notesGroup:hover background*/
}
.notesGroup:hover {
	background: #F5F5F5;
}
.notesOptions {
	left: 0px;
	position: absolute;
	width: 0px;
	visibility: hidden;
}
.notesOptions a {
	display: block;
	font-family: 'Lato';
	font-size: .6em;
	letter-spacing: 0.02em;
	opacity: 0;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.notesOptionsDelete {
	background: rgb(255, 90, 90);
	color: #FFF;
}
.notesOptionsEdit {
	background: #DDD;
	color: #555;
}
.notesOptionsDelete:hover {
	background: red;
}
.notesOptionsEdit:hover {
	background: #CCC;
}
.notesGroup:hover > .notesNote {
	border-right: 1px solid rgba(0,0,0,.0);
	border-bottom: 1px solid rgba(0,0,0,.0);
}
.notesGroup:hover > .notesOptions {
	left: -80px;
	transition: all .4s;
	visibility: visible;
	width: 80px;
}
.notesGroup:hover > .notesOptions a {
	opacity: .75;
	transition: all .5s ease-in;
}



/*Otros estilos*/
.float_label{
    background-color: #000000; 
    border-radius: 4px;
    color: #FFFFFF; 
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

#highlight-button {
    background-color: #000000; 

    border-radius: 4px;
    color: #FFFFFF; 
    font-family: 'Nunito';
    /*                padding: 2px 10px;*/
    position:absolute;
    top:-9999px;
    left:-9999px;
    z-index:9999;
}
#highlight-button img {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    height: 20px;
    margin: 4px;
    cursor: pointer;
}

.float_note{
    background-color: #D9D9D9; 
    border-radius: 4px;
    color: #00000; 
    font-family: 'verdana';
    /*position: absolute;*/
    position: fixed;
    padding: 10px;
    top: 20px;
    left: 80px;
    /*                top:-9999px;
                    left:-9999px;*/
    z-index:9999;
    height: 270px;
    width: 600px;
}
#selected_text{
    height: 100px;
    overflow-y: auto;
    border: 1px;
    border-color: #CACACA;
    border-style: groove;
    /*width: 95%;*/
}
.highlight {
    background-color: #ACE6E3;
}
.night {
    background-color: #121319;
    color: #DDDDDD;
    font-weight: 300;
    transition: all .5s;
}
.notes{
    padding: 30px;
    width: 80%; 
    height: 80%; 
    /*    overflow-y: auto; */
    background-color: #F6F6F6; 
    position: fixed; 
    top: 20px; 
    left: 80px; 
    border: 0px solid #000; 
    border-radius: 8px;
    box-shadow: 0 0 60px #000;
    -webkit-box-shadow: 0 0 60px #000;
    -ms-box-shadow: 0 0 60px #000;
    -moz-box-shadow: 0 0 60px #000;
    -o-box-shadow: 0 0 60px #000;
}

.notes img {
    display: inline;
    position:absolute;
    top:20px;
    right:20px;
    cursor: pointer;
}

.notes_title{
    font-family: 'Nunito'; 
    font-size: 1.5em;
    max-height: 200px;
}

.notes_title_nota{
    font-family: 'verdana'; 
    font-size: 1.025em;
    font-weight: bold;
}

.notes_title_nota_txt{
    font-family: 'verdana'; 
    font-size: 1.025em;
}

.note_option {
    color: rgb(52, 195, 195);
    font-size: 1em;
    font-family: verdana;    
    margin-bottom: 20px;
}

.note_option span {
    margin: 0.5em;
    cursor: pointer;
}

.notes_fromtext{
    font-style: italic;
}

.notes_fromtext:hover{
    background-color: #ACE6E3;
}

.notes_container {
    font-family: 'Merriweather';
    font-size: 1.125em;
    text-align: justify;
    /*height: 100px;*/
    overflow: hidden;
}

.notes_expandable {
    /*    padding-top: 10px;
        overflow: hidden;
        overflow-y: auto;
        -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s;*/
}
