*:focus {
    outline: 0; /*Hide outline on focus*/
}
::selection {
	color: #FFFFFF;
	background: #04C4BB; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: #FFFFFF;
	background: #04C4BB; /* Gecko Browsers */
}
html {
	height: 100%;
	width: 100%;
}
body {
	background: #F6F6F6;
	color: #4A4A4A;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	height: 100%;
	margin: auto;
	width: 100%;
}
div {
	padding: 0;
	margin: 0;
}


.bodyWrapper {
	background: #F6F6F6;
	display: inline-block;
	height: 100%;
	margin-left: 10px; /*same as .sideMenu width - left position*/
	width: 41em; /*reading width*/
}
.mainWrapper {
	height: 100%;
	text-align: center;
	width: 100%;
}

/*sideMenu*/
.sideMenu {
	background: #CCC;
	border-right: 2px solid #BBB;
	height: 100%;
	left: -50px;
	position: fixed;
	top: 0;
	transition: all .2s;
	width: 60px;
	z-index: 100;
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.sideMenu:hover {
	background: #414454;
	border-right: 0px;
	left: 0px;
}
.sideMenu-icon {
	display: block;
	opacity: .5;
	padding: 14px 14px 9px; 
	margin: 5px 0;
}
.sideMenu-icon:hover {
	background-color: black;
	opacity: 1;
	transition: all .4s;
}






/*Reading titles properties*/
.titleWrapper {
	border-bottom: 1px solid #CACACA;
	font-family: 'Verdana';
	padding: 1em;
	margin: 2em 0em 0;
}
.readingTitle,
.readingAuthor {
	text-align: center;
}
.readingTitle {
	font-size: 1.6em;
	font-weight: normal;
}
.chapterTitle {
	font-family: 'Verdana';
	font-size: 1.1em;
	font-weight: bold;
	margin: 1em 0;
	-webkit-font-smoothing: antialiased; /*text smoothing*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /*text smoothing*/
    text-transform: uppercase;
}




/*Body text properties*/
.bodyText {
	text-align: left;
	padding: 1em 0em 2em;
}
.bodyText p {
	letter-spacing: 0.01em;
	line-height: 1.9em;
	text-indent: 1em;
}
.bodyText figure {
	margin: 1.7em;
	text-align: center;
}
.bodyText figcaption {
	font-size: 0.8em;
	font-style: italic;
	padding: 1em 0 0;
}
.bodyText img {
	border: 1px solid #D9D9D9;
	display: block;
	margin: auto;
	max-height: 200px;
	padding: 5px;
}
.quote {
	font-size: 1.1em;
	font-style: italic;
	text-align: center;
	padding: .5em;
	-webkit-font-smoothing: antialiased; /*text smoothing*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /*text smoothing*/
}
.bodyText span,
.bodyText .highlighted {
	background: #ACE6E3;
}




/*Botones sección anterior/siguiente*/
.btn-prev-chapter-container {
	margin: .5em 0;
}
.btn-next-chapter-container {
	margin-bottom: 4em;
}
.btn-prev-chapter-container {
	text-align: left;
}
.btn-next-chapter-container {
	text-align: right;
}
.btn-prev-chapter,
.btn-next-chapter {
	border: 1px solid #888;
	color: #888;
	display: inline-block;
	font-family: 'Verdana';
	font-size: .9em;
	overflow: hidden;
	max-width: 30em;
	text-decoration: none;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-prev-chapter {
	padding: 1em 1.5em 1em 1.2em;
}
.btn-next-chapter {
	padding: 1em 1.2em 1em 1.5em;
}
.btn-prev-chapter::before {
	content: "\2190\00a0";
}
.btn-next-chapter::after {
	content: "\00a0\2192";
}
.btn-prev-chapter:hover,
.btn-next-chapter:hover {
	border: 1px solid #4A4A4A;
	background-color: #4A4A4A;
	color: #F6F6F6;
}
